## Part 1: A quick tour of Jupyter notebooks

In [ ]:
# Basic "unit" is a cell... how do we add a new cell?

Cells can be code or text (markdown)...
How do you switch between the two?

In [ ]:
# You can also MOVE cells around... or insert cells anywhere
# And you can split cells...or merge them

#TODO: 
# Add a cell *below* this one
# Now move that cell to very TOP of this notebook
# Now merge that cell with the cell below it...what happens?
# Finally... split this cell into two cells, right above the "TODO"

In [ ]:
# How do we execute a line of code?

# TODO: Write some code below to compute the value of 3+3
# run this cell and see what happens

In [ ]:
# We can store variables

# TODO: Make a variable callwhated myDog and assign it the value "Laika"

In [ ]:
# We can view the variable directly, or print it out

In [ ]:
# We can also write functions and execute them

# TODO: Write a function that accepts a string and then does something, anything, with it

In [ ]:
# TODO: Write code that calls the function you just wrote and passes in the variable myDog

#### Some Jupyter tips:
- Order matters!
- You can execute a single cell, or run them all... (let's demo this)
- It can all get confusing... if you need a reset, you can always restart your kernel. (Kernel refers the environment your computer is using to execute the Python code.)

And if you love keyboard shortcuts, you might want to check out [this list of Jupyter shortcuts](https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330).

For more, you can always check out the [Jupyter Notebook Documentation](https://jupyter-notebook.readthedocs.io/en/latest/).

## Part 2: Python review (strings, lists, dictionaries)

Let's review some of the Python data structures we'll be using most often in this class.

In [2]:
# Integers and strings
myInteger = 3
myString = "3"

In [3]:
# before you execute this... what do you think the result will be?
myInteger + myString

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
# How do we find the TYPE of a variable (or any Python object)?
type(myString)

str

In [ ]:
# TODO: Make a variable called myName and assign it to your name

In [ ]:
# TODO: Print out just the SECOND character of your name
# Next, print out the first two characters of your name
# Then, print out just the last two characters of your name

In [11]:
# Lists
myList = ["Anderson", "Jewett", "Lyman", "Prentiss", "Stanton"]

In [ ]:
# TODO: Print out the third item in the list
# Then, print out the number of items in this list
# Then, iterate through all of the items in the list and print out the first character

In [24]:
# Dictionaries
# remember, dictionaries have key / value pairs
apple = {"name": "apple", "status": "ripe", "color":"red", "diameter": 3}
avocado = {"name": "avocado", "status": "underripe", "color":"brown", "diameter":2.5 }
peach = {"name":"peach", "status":"overripe", "color":"orange", "diameter": 3.5}

# In the dictionaries above, what are the keys? What are the values?

In [ ]:
# TODO: Print out the apple's status
# Next, print out the peach's color
# Next, print out ALL of avocado's keys
# Finally, print out ALL of the avocado's values

In [15]:
# We can combine lists and dictionaries
# Now, make a new LIST that has ALL the fruits in it
# Finally, iterate through the fruits and print out each one's name and status

## Part 3: Intro to pandas...let's get some data!

In [ ]:
# And we can import packages
# This can be packages we write ourselves, i.e. a .py file
# Or it can be packages we have installed on our computer (a bunch came with Anaconda)
# We'll be using numpy and pandas to start

# TODO: Write the code you need to import Numpy and Pandas
# Note: np and pd are shorthand, and they are conventions (you could call them whatever you want)
import numpy as np
import pandas as pd

Note: I'll only be showing you some of the things pandas can do -- to explore, **read the docs**!

Keep the [documentation](https://pandas.pydata.org/docs/index.html) handy. And remember, usually there are many, many ways to accomplish something.

### Let's import some data!
We'll be using data about the **cost of launching stuff into space** over time. It comes from [Our World in Data](https://ourworldindata.org/grapher/cost-space-launches-low-earth-orbit).

Go check out this link (always always seek out the source!). What do you notice?

In [ ]:
# Let's load in the data, which is in the form of a CSV file

# TODO: Write a line of code to import "cost-space-lauches.csv" and save it as a DataFrame called df_launch
# Note: Where is your CSV file, and do you have the correct file path?

In [ ]:
# Now let's examine this DataFrame...
# What do you notice?

In [ ]:
# How many columns? What are they?
# How many rows? What does each row represent?

# TODO: Write a line of code that displays the header
# TODO: Write a line of code that displays the first 10 rows

In [ ]:
# Let's get a summary

In [ ]:
# How do we select a single column?

In [ ]:
# How do we select a single row?

In [ ]:
# And how do we select value within the Year column?

In [ ]:
# TODO: Write a line of code to get the cost_per_kg colum

In [ ]:
# TODO: Write a line of code to get the 5th row

In [ ]:
# TODO: Write some code to get the launch_class of the 3rd row

In [ ]:
# Now, what TYPES are the data contained in each column?
# Type of the cost_per_kg column

In [ ]:
# Type of the 5th row

In [ ]:
# Type of the launch_class of the 3rd row

[Series](https://pandas.pydata.org/docs/reference/api/pandas.Series.html) are 1-dimensional arrays (basically lists).


Individual values (cells) can be any data type (strings, integers, floating points, even lists).

In [ ]:
# TODO: What (Python) types are the values in the other columns? 
# We can iterate over the columns in a dataframe!

In [ ]:
# There's also an easy-peasy built in way with pandas using .dtypes...

In [ ]:
# Are you loving pandas yet??
# Another built in trick pandas has is .info()... let's try it

In [ ]:
# What's going on with that "Code" column?
# It has NaN (Not a Number) as all its values -- this means missing data!

In [ ]:
# TODO: Make a new data frame that just has the columns we want (no Code column)
# We can select a specific subset of columns in a dataframe using a list of column names

In [ ]:
# How do we count the values of the launch class?

We can also do math on values in our DataFrames!

How would we convert the cost per kilograph to cost per pound?

In [ ]:
# TODO: Make a new column that contains the cost per pounds in it
# Remember, 1 kg = 2.2 pounds (lbs)

In [ ]:
# TODO: How do we sort to see what missions cost the most (per weight)? The least?

In [ ]:
# Notice that this doesn't change the dataframe...

In [ ]:
# We can save the sorted dataframe as itself, or as a new one

## Part 3: CHALLENGE (if you finish early): 
Go to [Our World in Data](https://ourworldindata.org/) and find a data set that interests you.

Download the CSV file.

Load it into this notebook.

(1) What do you notice about how the data is organized?

(2) Can you sort the data in an interesting day?

(3) Can you calculate a new column that is useful?

In [ ]:
# TODO: Your code here....

### At the end of class, make sure to upload this .ipynb file to Canvas and submit the check in!