# In-Class Coding Activities: Thursday, September 7, 2023
## Warm-Up: Working with a new dataset, Air Quality Index

In [3]:
# Import pandas and numpy

In [91]:
# Import the "daily_aqi_by_cbsa_2021.csv"

In [166]:
# Take a look at the data frame. How many rows are in it?

Wow, that's a lot of rows! Each row is a city's AQI information on a particular day.

Let's find a list of all of the cities in this dataframe by selecting the CBSA column and using [.unique()](https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html) on it.

In [167]:
# Select the CBSA column, then use .unique()

# YOUR CODE HERE

In [168]:
# How many cities? Use length (len) to find out

# YOUR CODE HERE

Pick a city, any city, that you want to focus on. Make a new data frame with just the rows for that city.

In [169]:
# Make a dataframe for your single city (pick one). (City is in the "CBSA" column.)

# YOUR CODE HERE

In [170]:
# For the city you picked, how many days are there of each Category (Good, Moderate, etc.)?

# YOUR CODE HERE

In [171]:
# For the city you picked, what was the mean AQI for the entire year?

# YOUR CODE HERE

# Part 2: Grouping and Pivoting Example (from Slides)

In [ ]:
# Read in the "hogwarts-stats.csv" file as a dataframe

# YOUR CODE HERE

# Use groupby to find the mean grade for each student

# YOUR CODE HERE

# Use groupby to find the number of students and total grade points for each house

# YOUR CODE HERE

# Repeat the tasks from above, but using pivot_table

# YOUR CODE HERE

# ANOTHER ONE...
# Find the average grade in each class using groupby

# Part 3: More Grouping...this time with some real data

What if we wanted to find how many Good/Moderate/Unhealthy days there were for *every* city in this dataframe?

We have many ways to do this...We could loop through all the cities and use value counts... 

Or we could do it very quickly and easily (using almost no code) using [.groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) or [.pivot_table](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html).

Let's start with .groupby...

In [172]:
# How can we find the number of days in each Category (Good, Unhealthy, etc.) for each city?
# Use groupby to group by the CBSA (that's the city), then use value_counts() on the Category

# YOUR CODE HERE

In [173]:
# We can now look up any city we want!
# For example, how many Good, Moderate, etc. days were there in Walla Walla?

Now let's use pivot_table:

In [174]:
# YOUR CODE HERE

In [175]:
# In our new, pivoted dataframe, we can use .loc to select a row

In [ ]:
# Ok, what if we wanted to instead group by the DATE... how would we do that?

In [142]:
# Use groupby to find out how many cities Good, Unhealthy, etc. days there are on any given day

# YOUR CODE HERE

In [153]:
# Now use pivot_table to do the same thing

# YOUR CODE HERE

In [ ]:
# Now we can start to answer more complex questions, like...
# On what day of the year were the most cities in the U.S. experiencing
# an AQI of Unhealthy for Sensitive Groups or worse?

In [155]:
# First we can make a new column that is adding up Unhealthy, Unhealthy for Sensitive Groups, and Very Unhealthy

# YOUR CODE HERE

In [165]:
# Then we can sort the values to find the maximum

Date
2021-08-02    58
2021-07-20    58
2021-08-07    55
2021-08-03    53
2021-08-01    51
              ..
2021-02-24     0
2021-12-12     0
2021-05-02     0
2021-11-16     0
2021-02-26     0
Name: Unhealthy_or_worse, Length: 365, dtype: int64

In [ ]:
# We now see that on August 2, 2021 and July, 20, 2021 there were 58 cities in the U.S. with an AQI
# of unhealthy for sensitive groups or worse!
# We would have had a hard time answering this question without reshaping our original dataframe!

# Part 3: Challenge

Check out [this list of awesome open datasets](https://github.com/awesomedata/awesome-public-datasets). 

Find one that is interesting to you. (For now, see if you can find one that is available as a CSV.)

Download it and then import it into this notebook.

What kinds of things can you do with it?

How might you use .groupby or .pivot_tables to reshape the data so that you can ask and answer some interesting questions?