In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Most-Recent-Cohorts-Institution.csv", low_memory=False)

In [3]:
#df_liberal_arts = df[df["CCBASIC"] == 21]

In [4]:
fields_to_filter = pd.read_csv("CollegeScorecard_fields.csv", header=None)

In [5]:
type(fields_to_filter[0])

pandas.core.series.Series

In [6]:
df_filtered = df[fields_to_filter[0]]

In [7]:
df_filtered

,UNITID,INSTNM,CITY,STABBR,ZIP,INSTURL,HIGHDEG,CONTROL,ST_FIPS,REGION,...,PRGMOFR,BOOKSUPPLY,ROOMBOARD_ON,OTHEREXPENSE_ON,ROOMBOARD_OFF,OTHEREXPENSE_OFF,OTHEREXPENSE_FAM,ENDOWBEGIN,ENDOWEND,ADMCON7
0,100654,Alabama A & M University,Normal,AL,35762,www.aamu.edu/,4,1,1,5,...,NaN,1600.0,9520.0,3090.0,9520.0,3090.0,3440.0,NaN,NaN,5.0
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,https://www.uab.edu/,4,1,1,5,...,NaN,1200.0,12307.0,5555.0,12307.0,5555.0,5555.0,539858544.0,711616804.0,5.0
2,100690,Amridge University,Montgomery,AL,36117-3553,https://www.amridgeuniversity.edu/,4,2,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,174818.0,174817.0,NaN
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,www.uah.edu/,4,1,1,5,...,NaN,2300.0,10764.0,4156.0,10764.0,4156.0,4156.0,75837207.0,100321016.0,1.0
4,100724,Alabama State University,Montgomery,AL,36104-0271,www.alasu.edu/,4,1,1,5,...,NaN,1600.0,6050.0,3392.0,7320.0,5130.0,5130.0,111315175.0,130589167.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6538,49576720,Pennsylvania State University-Penn State York,York,PA,17403-3326,york.psu.edu/,0,1,42,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6539,49576721,Pennsylvania State University-Penn State Great...,Malvern,PA,19355-1488,greatvalley.psu.edu/,0,1,42,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6540,49576722,Pennsylvania State University-Penn State Harri...,Middletown,PA,17057-4846,harrisburg.psu.edu/,0,1,42,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6541,49576723,Pennsylvania State University-Penn State Brand...,Media,PA,19063-5522,brandywine.psu.edu/,0,1,42,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6542,49664501,Burlington County Institute of Technology - Ad...,Medford,NJ,080550000,https://www.bcit.cc/bcitadulted,0,1,34,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_filtered.to_csv("college_scorecard_2023.csv")

In [9]:
print(df_filtered.columns)

Index(['UNITID', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'INSTURL', 'HIGHDEG',
       'CONTROL', 'ST_FIPS', 'REGION',
       ...
       'PRGMOFR', 'BOOKSUPPLY', 'ROOMBOARD_ON', 'OTHEREXPENSE_ON',
       'ROOMBOARD_OFF', 'OTHEREXPENSE_OFF', 'OTHEREXPENSE_FAM', 'ENDOWBEGIN',
       'ENDOWEND', 'ADMCON7'],
      dtype='object', length=115)